section {
    width: 350px;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 50px;
}

span {
    color: red;
}

h1 {
    color: purple;
}