<section>
    <form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
        <h1>Entrar</h1>
        <br>
        <label>
            Nome
            <br>
            <input type="text" formControlName="primeiroNome">
            <br><br>
            <span *ngIf="cadastroForm.get('primeiroNome')?.errors && (cadastroForm.get('primeiroNome')?.touched || cadastroForm.get('primeiroNome')?.dirty)">
                Por favor preencha o campo com seu nome
            </span>
        </label>
        <br>
        <label>
            Sobrenome
            <br>
            <input type="text" formControlName="segundoNome" maxLength="15">
            <br><br>
            <span *ngIf="cadastroForm.get('segundoNome')?.errors && (cadastroForm.get('segundoNome')?.touched || cadastroForm.get('segundoNome')?.dirty)">
                Por favor deve ter no minimo 3 letras
                <!-- {{cadastroForm.get('segundoNome')?.errors?.minlength?.requiredLength}} -->
            </span>
        </label>
       
        <br>

        <label>
            Email
            <br>
            <input type="email" formControlName="email">
        </label>
       
        <br>

        <p>
            Nome: {{cadastroForm.get('primeiroNome')?.value}} {{cadastroForm.get('segundoNome')?.value}}
            <br>
            Email: {{cadastroForm.get('email')?.value}}
        </p>
    
        <br>
    
        <button [disabled]="cadastroForm.invalid">Eniviar</button>
    </form>
    
</section>